.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: 18px;
  width: 100%;
}

.text-footer {
  color: $white;
  font-size: $text-big;
  margin-bottom: 15px;
}

.text-copyright {
  align-self: flex-end;
  color: $white;
}

@media only screen and (max-width: 1024px) {
  .logo-footer {
    height: 40px;
  }

  .text-footer {
    font-size: $text-medium;
  }

  .text-copyright {
    align-self: center;
    font-size: $text-small;
    margin: 10px 0;
  }
}
