.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 1px 10px 8px $grey;
  display: flex;
  flex-direction: row;
  height: $title-decoration-height;
  justify-content: space-between;
  left: 0;
  padding: 15px;
  padding: 20px 10px;
  position: fixed;
  text-align: end;
  top: 0;
  width: 100%;
  z-index: 1;

  &::before {
    background: url(./assets/wolox_logo.svg);
    background-repeat: no-repeat;
    content: '';
    height: 30px;
    width: 100%;
  }

  h3 {
    font-size: $text-big;
    width: inherit;
  }
}
