.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 1px 10px 8px $grey;
  display: flex;
  height: $title-decoration-height;
  overflow: hidden;
  padding: 15px;
  position: fixed;
  text-align: end;
  top: 0;
  width: 100%;
  z-index: 1;

  &::before {
    background: url(./assets/wolox_logo.svg);
    background-repeat: no-repeat;
    content: '';
    height: 30px;
    width: 100%;
  }
}

.title-navbar {
  font-size: $text-big;
  width: inherit;
}
