@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }

  .title-navbar {
    display: none;
  }

  .content {
    width: 100%;
  }

  .title {
    justify-content: center;
    margin-top: 40px;
    width: 100%;

    &::before {
      content: url(./assets/triangle.svg);
      left: 66px;
      position: absolute;
      width: 70px;
      z-index: -1;
    }
  }

  .section-tech {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    width: 100%;
  }

  .tech {
    border-bottom: solid 2px $green;
    padding-top: 40px;
  }

  .tech:last-child {
    border-bottom: none;
  }

  .footer {
    width: 100%;
  }

  .logo-footer {
    margin: auto;
    width: 80%;
  }

  .text-footer {
    color: $white;
    font-size: $text-medium;
    font-weight: lighter;
    margin-bottom: 15px;
  }

  .text-copyright {
    color: $white;
    font-size: $text-small;
    justify-content: center;
    padding: 10px;
  }
}
