.content {
  margin: 30px auto;
  max-width: 100%;
  width: 1024px;
}

.title {
  width: 100%;
}

.section-tech {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 40px;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 100%;
  padding: 14px;
  position: relative;
  text-align: center;
  width: 200px;

  &::before {
    border: solid 1px $green;
    border-radius: 5px;
    bottom: 5px;
    content: '';
    height: 100%;
    position: absolute;
    right: 7px;
    transition: transform 0.9s ease;
    width: 100%;
  }

  &:hover::before {
    transform: translate(15px,15px);
  }
}

.tech-title {
  margin-top: 10px;
}

.tech-content {
  font-size: $text-small;
  padding: 10px 19px;
}

.tech-logo {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.title-bold {
  font-weight: bold;
}
