nav {
  border: solid 1px $green;
  border-radius: 5px;
  height: 270px;
  width: 180px;

  &::before {
    background: $green;
    border-radius: 5px;
    content: '';
    height: 270px;
    margin: 7px;
    position: absolute;
    width: 180px;
  }
}

.tech {
  position: relative;
  h4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  p {
    padding: 10px 19px;
    text-align: center;
  }
}
.logo {
  align-items: center;
  display: flex;
  height: $tech-logo-size;
  margin: auto;
  padding: 11px;
}
.title-bold {
  font-weight: bold;
}
