$green: #BED23C;

nav {
  border: solid 1px $green;
  border-radius: 5px;
  height: 270px;
  width: 180px;
}
.tech {
  background: $green;
  border-radius: 5px;
  height: 270px;
  margin: 7px;
  width: 180px;
  h4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  p {
    padding: 10px 19px;
    text-align: center;
  }
}
.logo {
  align-items: center;
  display: flex;
  height: 100px;
  margin: auto;
  padding: 11px;
}
.title-bold {
  font-weight: bold;
}
