.title {
  align-items: center;
  display: flex;
  font-size: 22px;
  height: 90px;
  padding-left: 52px;
  position: relative;

  &::before {
    content: url(./assets/triangle.svg);
    left: 0;
    position: absolute;
    width: 70px;
    z-index: -1;
  }
}
