$text-big: 12px;
$text-medium: 16px;
$text-small: 24px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;

.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  height: $title-decoration-height;
  padding-left: 52px;
  position: relative;

  &::before {
    content: url(./assets/triangle.svg);
    left: 0;
    position: absolute;
    width: $title-decoration-width;
    z-index: -1;
  }
}
